img {
  height: 150px;
  width: 150px;
}
.my-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.my-header img {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
h1 {
  font-family: monospace;
  font-weight: 100;
}
body {
  background-color: rgb(138, 216, 249);
}
h3 {
  font-style: italic;
}
.contact {
  text-align: center;
}
.Me {
  color: blue;
}
